.wrapper{
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: "Urbanist", sans-serif;
}
.h1{
    color: red;
}

@keyframes infinite-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-pulse-slow {
    animation: infinite-scale 2s ease-in-out infinite;
  }